@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.8rem;
  color: #333;
  word-break: break-all;
  white-space: nowrap;
}
/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: bisque; */
}
/* min */
/* ran */
/* hun */
html,
body {
  height: 100%;
  overflow: hidden;
}
.wrap {
  width: 100%;
  height: 100%;
  background-color: #ecf4be;
}
.app-inner {
  position: relative;
  width: 110vw;
  max-width: 1200px;
  min-width: 768px;
  height: 100%;
  /* background-color: aqua; */
  margin: 0 auto;
  /* margin-left: 20px;
  margin-right: 20px; */
}
.app-left {
  width: 650px;
  height: 780px;
  /* background-color: aqua; */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.app-left-top{
  width: 650px;
  height: 390px;
  display: flex;
  justify-content: flex-end;
}
.app-left-top h1{
  margin-top: 40px;
  text-align: left;
  font-weight: 700;
  line-height: 35px;
}
.app-left-top h1 span{
  display: inline-block;
  padding-left: 5px;
  width: 85px;
  height: 35px;
  background-color: #a3c100;
  color: #fff;
}
.modal-img img{
  width: 350px;
  height: 360px;
}
.app-left-bottom{
  width: 650px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.gel-img img{
  width: 340px;
  height: 200px;
}
.app-left-bottom h1{
  margin: 20px;
  line-height: 35px;
  font-weight: 700;
}
.app-left-bottom h1 span{
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #a3c100;
  color: #fff;
}
.app-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 520px;
  height: 900px;
  background-color: #fff;
  border-radius: 7px;
  padding-top: 25px;
}
.app-info {
  width: 440px;
  height: 194px;
  border: 1px solid #e8e8e8;
  border-radius: 7px;
  margin: 20px auto;
}
.app-info p {
  text-align: center;
  margin: 15px;
  font-weight: 600;
  color: #333;
}
.app-info li {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  margin-left: 50px;
  color: #333;
  list-style: disc;
}
h1 {
  font-size: 27px;
  font-weight: 600;
  color: #333;
  text-align: center;
}
.app-address {
  width: 450px;
  height: 282px;
  /* background-color: aquamarine; */
  margin: 20px auto;
}
.date {
  width: 450px;
  height: 42px;
  margin-top: 40px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  padding: 20px;
  color: #333;
}
.app-address ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stap {
  width: 64px;
  height: 23px;
  background-color: #e5effd;
  font-size: 11px;
  border-radius: 50px;
  color: #286cc3;
  text-align: center;
  line-height: 24px;
  margin: 20px auto;
}
select {
  width: 220px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  padding: 5px;
  color: #333;
}
.address-bt {
  width: 450px;
  height: 56px;
  border: 0;
  background-color: #a3c100;
  border-radius: 7px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.app-tell {
  width: 450px;
  height: 282px;
  /* background-color: aquamarine; */
  margin: 20px auto;
  margin-top: 30px;
}
.tell-nb {
  display: flex;
  width: 450px;
  height: 42px;
  margin-bottom: 20px;
  background-color: #e5effd;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  margin-top: 40px;
}
.tell-nb2 {
  display: flex;
  width: 450px;
  height: 42px;
  margin-bottom: 20px;
  background-color: #e5effd;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
}

.tell-nb h3 {
  width: 110px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #d9d9d9;
}
.tell-nb2 h3 {
  width: 110px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #d9d9d9;
}
.tel {
  width: 250px;
  height: 40px;
  border: none;
  font-size: 16px;
  text-align: center;
}
.code-bt {
  width: 88px;
  height: 40px;
  background-color: #bababa;
  color: #fff;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
.tel2 {
  width: 337px;
  height: 40px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.tell-bt {
  width: 450px;
  height: 56px;
  border: 0;
  background-color: #778b06;
  border-radius: 7px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
