/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black.otf') format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.otf') format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraLight.otf') format('opentype');
    font-weight: 200;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.otf') format('opentype');
    font-weight: 100;
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* VITRO */
@font-face {
    font-family: 'VITRO';
    src: url('font/VITRO CORE TTF.ttf') format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: 'VITRO';
    src: url('font/VITRO INSPIRE TTF.ttf') format("truetype");
    font-weight: 200;
    /* font-style: normal; */
}
@font-face {
    font-family: 'VITRO';
    src: url('font/VITRO PRIDE TTF.ttf') format("truetype");
    font-weight: 100;
    /* font-style: normal; */
}
/* vitro similar */
@font-face {
    font-family: "WAGURITTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: 'TTHakgyoansimJiugaeR';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimJiugaeR.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
  