@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'VITRO CORE TTF';
    src: url('font/VITRO CORE TTF.ttf') format("opentype");
    font-weight: 400;
    /* font-style: normal; */
}
@font-face {
    font-family: 'VITRO INSPIRE TTF';
    src: url('font/VITRO INSPIRE TTF.ttf') format("opentype");
    font-weight: 400;
    /* font-style: normal; */
}
@font-face {
    font-family: 'VITRO PRIDE TTF';
    src: url('font/VITRO PRIDE TTF.ttf') format("opentype");
    font-weight: 400;
    /* font-style: normal; */
}