@charset "utf-8";
/* min */
@media all and (max-width: 1800px) {
  .header .inner {
    max-width: 1680px;
    gap: 25%;
  }
  .main-img-area .inner {
    max-width: 1750px;
  }
}
@media all and (max-width: 1760px) {
  .header .inner {
    max-width: 1580px;
    gap: 30%;
  }
  .main-img-area .inner {
    position: relative;
    width: 100%;
    height: 85%;
    max-width: 1665px;
  }
}
@media all and (max-width: 1690px) {
  .header .inner {
    max-width: 1500px;
    gap: 25%;
  }
  .logo {
    width: 17%;
  }
  .main-img-area .inner {
    max-width: 1600px;
  }
  .main-quiz .inner {
    max-width: 1530px;
  }
}
@media all and (max-width: 1625px) {
  .header .inner {
    max-width: 1420px;
  }
  .main-img-area .inner {
    max-width: 1530px;
  }
  .main-quiz .inner {
    max-width: 1430px;
  }
  .main-quiz {
    padding: 0;
  }
  .main-quiz .quiz-insta-bg {
    position: absolute;
    top: -20%;
    right: 0%;
    display: block;
  }
}
@media all and (max-width: 1500px) {
  .header {
    top: 15px;
  }
  .header .inner {
    max-width: 1360px;
  }
  .main-img-area .inner {
    max-width: 1460px;
  }
  .img-txt-box {
    font-size: 6rem;
  }
  .ani-product > a > img {
    width: 380px;
  }
  #insta-img {
    width: 380px;
  }
  .main-quiz .inner {
    max-width: 1380px;
  }
  .main-quiz .quiz-insta-bg img {
    width: 450px;
  }
}
@media all and (max-width: 1420px) {
  .header .inner {
    max-width: 1300px;
    gap: 30%;
  }
  .lang {
    display: none;
  }
  .main-img-area .inner {
    max-width: 1360px;
  }
  .main-quiz .inner {
    max-width: 1280px;
  }
  .main-instastyle-banner {
    height: 500px;
  }
}
@media all and (max-width: 1360px) {
  .header .inner {
    max-width: 1200px;
    gap: 22%;
  }
  .logo {
    height: 45px;
    line-height: 45px;
  }
  .top-menu {
    height: 45px;
    line-height: 45px;
  }
  .top-menu > li::after {
    height: 37px;
  }
  .main-img-area .inner {
    max-width: 1280px;
  }
  .img-txt-box {
    font-size: 4.8rem;
  }
  .ani-product > a > img {
    width: 340px;
  }
  #insta-img {
    width: 340px;
  }
  .main-quiz .quiz-insta-bg {
    right: -4%;
  }
  .main-quiz .quiz-insta-bg img {
    width: 360px;
  }
  .main-quiz .inner {
    max-width: 1120px;
  }
  .quiz-text {
    font-size: 5.2rem;
  }
  .quiz-info-text {
    font-size: 4.6rem;
  }
  .quiz-box {
    padding: 40px;
    height: 100%;
  }
  .quiz-title {
    line-height: 45px;
    font-size: 1.8rem;
  }
  .main-instastyle-banner {
    height: 430px;
  }
  .quiz-insta-frame img {
    width: 430px;
  }
}
@media all and (max-width: 1230px) {
  .header .inner {
    max-width: 1120px;
    gap: 22%;
  }
  .top-menu {
    width: 90%;
  }
  .main-img-area .inner {
    max-width: 1180px;
  }
  .img-txt-box {
    font-size: 4.6rem;
  }
  .ani-product > a > img {
    width: 320px;
  }
  #insta-img {
    width: 320px;
  }
  .main-quiz .inner {
    max-width: 1120px;
  }
  .quiz-text {
    font-size: 5.2rem;
  }
  .quiz-info-text {
    font-size: 4.6rem;
  }
  .main-instastyle-banner {
    height: 400px;
  }
  .quiz-insta-frame img {
    width: 400px;
  }
}
@media all and (max-width: 1180px) {
  .header .inner {
    max-width: 1050px;
    gap: 22%;
  }
  .main-img-area .inner {
    max-width: 1100px;
  }
  .img-txt-box {
    font-size: 4.3rem;
  }
  .ani-product > a > img {
    width: 320px;
  }
  #insta-img {
    width: 320px;
  }
  .main-quiz .inner {
    max-width: 1080px;
  }
  .choice-box {
    gap: 10px;
  }
  .main-quiz .quiz-insta-bg {
    right: 3%;
  }
  .main-quiz .quiz-insta-bg img {
    width: 320px;
  }
  .main-instastyle-banner {
    height: 400px;
  }
  .quiz-insta-frame img {
    width: 390px;
  }
}
@media all and (max-width: 1000px) {
  .header .inner {
    max-width: 950px;
    gap: 10%;
  }
  .main-img-area .inner {
    max-width: 950px;
  }
  .img-txt-box {
    font-size: 3.8rem;
  }
  .ani-product > a > img {
    width: 250px;
  }
  #insta-img {
    width: 250px;
  }
  .main-quiz .inner {
    max-width: 890px;
  }
  .quiz-box-bg {
    width: 75%;
  }
  .quiz-box-wrap .qbg2 {
    width: 75%;
  }
  .qbg2 img {
    width: 135px;
  }
  .main-quiz .quiz-insta-bg {
    right: 0;
  }
  .main-quiz .quiz-insta-bg img {
    width: 300px;
  }
  .main-instastyle-banner {
    display: none;
  }
}
@media all and (max-width: 950px) {
  .header .inner {
    max-width: 820px;
    gap: 22%;
  }
  .logo {
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
  .logo img {
    width: 85%;
    height: 100%;
    object-fit: contain;
  }
  .top-menu {
    gap: 18%;
    height: 40px;
    width: 95%;
    padding: 0 5px;
    font-size: 1.6rem;
    justify-content: center;
  }
  .top-menu > li::after {
    height: 32px;
    padding: 0 20px;
  }
  .main-img-area .inner {
    max-width: 850px;
  }
  .img-txt-box {
    font-size: 3.4rem;
  }
  .ani-product > a > img {
    width: 230px;
  }
  #insta-img {
    width: 230px;
  }
  .main-quiz .inner {
    max-width: 860px;
  }
  .main-quiz .quiz-insta-bg {
    position: absolute;
    top: 110%;
    right: 0;
  }
  .main-quiz .quiz-insta-bg img {
    width: 350px;
  }
  .main-quiz {
    margin-bottom: 25%;
    padding-top: 0;
  }
}

@media all and (max-width: 780px) {
  .header .inner {
    max-width: 620px;
    gap: 10%;
  }
  .logo{
    height: 50px;
    line-height: 50px;
    box-shadow: none;
  }
  .menu-right {
    gap: 0;
    width: 50%;
  }
  .top-menu {
    height: 50px;
    width: 100%;
    padding: 0;
    font-size: 1.6rem;
    justify-content: center;
    box-shadow: none;
  }
  .top-menu > li::after {
    height: 38px;
    padding: 0 20px;
  }
  .top-menu > li:last-of-type {
    display: none;
  }
  .main-img-area .inner {
    max-width: 680px;
    margin-top: 80px;
  }
  .main-img-slide {
    padding-bottom: calc(1042 / 649 * 100%);
  }
  .img-txt-box {
    top: 9%;
    left: -20%;
    font-size: 5rem;
  }
  .ani-product > a > img {
    width: 340px;
  }
  .ani-product {
    position: absolute;
    top: 60%;
    right: 7%;
  }
  .main-quiz .inner {
    max-width: 890px;
  }
  .quiz-box-bg {
    width: 75%;
  }
  .quiz-box-wrap .qbg2 {
    width: 75%;
  }
  .qbg2 img {
    width: 135px;
  }
  .main-quiz .quiz-insta-bg {
    right: 0;
  }
  .main-quiz .quiz-insta-bg img {
    width: 300px;
  }
  .main-instastyle-banner {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .header {
    top: 0;
  }
  .header .inner {
    max-width: 460px;
    gap: 20%;
    padding-top: 15px;
  }
  .lang {
    display: none;
  }
  .logo {
    width: 120px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    box-shadow: none;
  }
  .logo img {
    width: 85%;
    height: 100%;
    object-fit: contain;
  }
  .menu-right {
    gap: 0;
    width: 50%;
  }
  .top-menu {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 1.6rem;
    justify-content: center;
    box-shadow: none;
  }
  .top-menu > li::after {
    height: 32px;
    padding: 0 10px;
  }
  .top-menu > li:last-of-type {
    display: none;
  }
  .main-img-area {
    height: 75vh;
    min-height: 700px;
    margin: 80px 0 30px 0;
  }
  .main-img-area .inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 435px;
  }
  .main-img-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/main_img_mobile.png") no-repeat center/ cover;
  }
  .img-txt-box {
    cursor: default;
    position: absolute;
    top: 6%;
    left: -26%;
    font-size: 4.8rem;
  }
  .ani-product > a > img {
    position: absolute;
    bottom: 130px;
    right: 0%;
    width: 270px;
  }
  .main-quiz {
    width: 100vw;
    padding: 0;
  }
  .main-quiz .inner {
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 460px;
  }
  .quiz-main-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quiz-box-wrap {
    height: 75vh;
    width: 95vw;
  }
  .main-quiz .quiz-insta-bg img {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
  }
  .main-quiz .quiz-insta-bg {
    position: absolute;
    top: 118%;
    right: 0%;
    display: block;
    width: 100%;
  }
  .quiz-main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 0;
  }
  .quiz-text {
    position: relative;
    font-size: 5.5rem;
  }
  .quiz-info-text {
    font-size: 2.8rem;
    margin-left: 0;
    text-align: center;
  }
  .quiz-box {
    padding: 0 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color:unset; */
  }
  .quiz-box-bg {
    min-height: 450px;
    width: 95vw;
    height: 83%;
    padding: 15px;
    margin: 8% 0;
  }
  .quiz-title {
    text-align: center;
    font-size: 1.5rem;
    border: 0;
    line-height: 2;
    background-color: unset;
  }
  .fs-noBr {
    display: block;
  }
  .answer-box {
    gap: 10px;
  }
  .answer-box-li {
    width: 80px;
    height: 80px;
    background-color: #a3c100;
    border-radius: 15px;
    margin: 20px 0;
  }
  .choice-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 78%;
  }
  .choice-box-li {
    width: 65px;
    line-height: 65px;
    font-size: 2.5rem;
  }
  .choice-box-li:hover {
    transform: translateY(0);
  }
  .answer-sub {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 15px;
  }
  /* js answer style */
  .jsAnswer {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 4.2rem;
  }
  .jsAnswer::after {
    width: 75px;
    height: 75px;
  }
  /* correc */
  .qrt-l {
    font-size: 3.6rem;
    line-height: 2.25;
  }
  .qbg2 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    width: 85px;
    object-fit: cover;
  }

  .sample-apply-guide {
    font-size: 1.8rem;
    line-height: 2;
  }
  .sub-apply {
    width: 100%;
    margin-top: 25px;
  }
  /* wrong ver */
  .qrt-2 {
    line-height: 2;
  }
  .qrt-2-1 {
    font-size: 2.5rem;
  }
  .quiz-result-title img {
    position: absolute;
    top: 19%;
    right: 12%;
    width: 80px;
  }
  .quiz-retry-guide img {
    display: none;
  }
  .quiz-retry-btn {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .header {
    top: 0;
  }
  .header .inner {
    max-width: 370px;
    gap: 20%;
    padding-top: 15px;
  }
  .menu-right {
    width: 75%;
  }
  .main-img-area {
    height: 75vh;
    min-height: 600px;
  }
  .main-img-area .inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 375px;
  }
  .img-txt-box {
    cursor: default;
    position: absolute;
    top: 7%;
    left: -24%;
    font-size: 3.6rem;
  }
  .ani-product > a > img {
    position: absolute;
    bottom: 130px;
    right: 5%;
    width: 230px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    top: 0;
  }
  .header .inner {
    max-width: 290px;
    gap: 12%;
    padding-top: 15px;
  }
  .logo {
    width: 120px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    box-shadow: none;
  }
  .logo img {
    width: 85%;
    height: 100%;
    object-fit: contain;
  }
  .menu-right {
    gap: 0;
    width: 100%;
  }
  .top-menu {
    height: 40px;
    width: 100%;
    font-size: 1.4rem;
  }
  .img-txt-box {
    top: 6%;
    left: -27%;
    font-size: 3.2rem;
  }

  .main-img-area {
    height: 75vh;
    min-height: 250px;
    margin: 80px 0 30px 0;
  }
  .main-img-area .inner {
    position: relative;
    width: 100%;
    height: 92%;
    max-width: 285px;
  }
  .ani-product > a > img {
    position: absolute;
    bottom: 130px;
    right: 5%;
    width: 180px;
  }
  .main-quiz {
    width: 100vw;
    padding: 0;
    margin-bottom: 45%;
  }
  .main-quiz .inner {
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 285px;
  }
  .quiz-main-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quiz-box-wrap {
    height: 450px;
    width: 95vw;
    padding-top: 55px;
  }
  .main-quiz .quiz-insta-bg img {
    position: absolute;
    top: 95px;
    right: 0;
    width: 160px;
  }
  .main-quiz .quiz-insta-bg {
    position: absolute;
    top: 110%;
    right: 0%;
    display: block;
    width: 100%;
  }
  .main-instastyle-banner {
    display: none;
  }
  .quiz-main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 0;
  }
  .quiz-text {
    position: relative;
    font-size: 5rem;
  }
  .quiz-info-text {
    font-size: 2.8rem;
    margin-left: 0;
    text-align: center;
  }
  .quiz-box {
    padding: 0 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color:unset; */
  }
  .quiz-box-bg {
    min-height: unset;
    width: 95vw;
    height: 100%;
    padding: 10px;
    margin: 8% 0;
  }
  .quiz-title {
    text-align: center;
    font-size: 1.5rem;
    border: 0;
    line-height: 1.24;
    background-color: unset;
  }
  .fs-noBr {
    display: block;
  }
  .answer-box {
    gap: 10px;
  }
  .answer-box-li {
    width: 60px;
    height: 60px;
    background-color: #a3c100;
    border-radius: 15px;
    margin: 20px 0;
  }
  .choice-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
  }
  .choice-box-li {
    width: 55px;
    line-height: 55px;
    font-size: 2.5rem;
  }
  .choice-box-li:hover {
    transform: translateY(0);
  }
  .answer-sub {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 15px;
  }
  /* js answer style */
  .jsAnswer {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 3.2rem;
  }
  .jsAnswer::after {
    width: 55px;
    height: 55px;
  }
  /* correc */
  .qrt-l {
    font-size: 3.4rem;
  }
  .qbg2 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    width: 75px;
    object-fit: cover;
  }

  .sample-apply-guide {
    font-size: 1.8rem;
    line-height: 1.24;
  }
  .sub-apply {
    width: 100%;
    margin-top: 15px;
  }
  /* wrong ver */
  .qrt-2 {
    line-height: 2;
  }
  .qrt-2-1 {
    font-size: 2.5rem;
  }
  .quiz-result-title img {
    position: absolute;
    top: 17%;
    right: 12%;
    width: 70px;
  }
  .quiz-retry-guide img {
    display: none;
  }
  .quiz-retry-btn {
    width: 100%;
  }
}
/* ran */
@media screen and (max-width: 1400px) {
  .short-icon img {
    display: none;
  }
}
@media screen and (max-width: 1320px) {
  .short-icon img {
    display: none;
  }
  .video-title {
    padding-top: 40px;
  }
  .video p {
    padding-top: 23px;
  }
  .video-title-bl {
    width: 50px;
    height: 100%;
  }
  .video-iframe-box iframe:nth-child(1) {
    display: none;
  }
  .video-iframe-box iframe:nth-child(2) {
    display: block;
  }
}
@media screen and (max-width: 1060px) {
  .short {
    padding: 20vw 0;
  }
  .video {
    padding: 20vw 0;
  }
  .video-title {
    padding-top: 0px;
  }
  .video-inner {
    flex-direction: column;
    align-items: center;
  }
  .video-title-bl {
    display: none;
  }
  .video span {
    padding-bottom: 5px;
  }
  .video em {
    padding-bottom: 5px;
  }
  .video p {
    padding-bottom: 40px;
  }
  .quickmenu ul li a {
    font-size: 10px;
  }
}
@media screen and (max-width: 760px) {
  .video-iframe-box iframe:nth-child(2) {
    display: none;
  }
  .video-iframe-box iframe:nth-child(3) {
    display: block;
  }
}
@media screen and (max-width: 490px) {
  .video-iframe-box iframe:nth-child(3) {
    display: none;
  }
  .video-iframe-box iframe:nth-child(4) {
    display: block;
  }
  .quickmenu ul li p {
    display: none;
  }
  .quickmenu ul li span {
    display: none;
  }
  .quickmenu ul li a {
    width: 50px;
    height: 50px;
  }
  .quickmenu ul li img {
    padding: 9px 0 7px;
  }
}
@media screen and (max-width: 630px) {
  .short span {
    letter-spacing: -0.26667vw;
    font-size: 8.26667vw;
    line-height: 1.3;
  }
  .short-title span:nth-child(3) {
    word-break: keep-all;
    font-size: 3.73333vw;
  }
  .video span {
    letter-spacing: -0.26667vw;
    font-size: 8.26667vw;
    line-height: 1.3;
  }
  .video-title p {
    font-size: 3.73333vw;
  }
}
/* hun */
@media screen and (max-width: 1200px) {
  .app-inner {
    position: relative;
    width: 520px;
    margin: 0 auto;
  }
  .app-left {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .info-info {
    width: 55vw;
    flex-direction: column;
  }
  .h2-right {
    margin-top: 20px;
  }
}
@media screen and (max-width: 820px) {
  .tg-logo {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* 제품 상세 정보 */
  .detaild-info {
    padding: 0;
  }
  .info-wrap {
    width: 100%;
  }

  .info-inner {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }
  /* footer */
  .ft_inner {
    height: 400px;
  }
  .ft-top {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .ft_info {
    width: 100%;
    top: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .ft_info h2 {
    font-size: 16px;
  }
  .ft_info p {
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .app-box {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .info-info {
    width: 80vw;
  }
  /* 제품 상세 정보 */
  .info-icon {
    display: none;
  }
  .info-bottom button {
    width: 180px;
    height: 40px;
  }
  .info-bottom button a {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  /* 모달창 */
  .modal-main {
    width: 300px;
    height: 400px;
  }
  .modal-notice {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 22px;
  }
  .modal-notice h2 {
    font-size: 14px;
  }
  .modal-img {
    width: 200px;
    height: 120px;
  }
  .modal-bt {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-radius: 6px;
  }
  .modal-bt a {
    font-size: 16px;
  }
  .modal-close {
    width: 300px;
    height: 50px;
  }
  .modal-close li {
    font-size: 16px;
  }
  /* footer */
  footer {
    width: 100%;
  }
  .ft_info {
    display: none;
  }
  .ft_info_430 {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  /* .app-page{
    width: 280px;
    margin: 0 auto;
  } */
}
