@charset "utf-8";
/* min */
/* ran */
/* hun */
@media screen and (max-width: 768px) {
  /* footer */
    .ft_inner {
    height: 400px;
  }
  .ft-top {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .ft_info {
    width: 100%;
    top: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .ft_info h2 {
    font-size: 16px;
  }
  .ft_info p {
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
    /* 모달창 */
    .modal-main{
        width: 300px;
        height: 400px;
    }
    .modal-notice{
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 22px;
    }
    .modal-notice h2{
        font-size: 14px;
    }
    .modal-img{
        width: 200px;
        height: 120px;
    }
    .modal-bt{
        width: 150px;
        height: 40px;
        margin-top: 15px;
        border-radius: 6px;
    }
    .modal-bt a{
        font-size: 16px;
    }
    .modal-close{
        width: 300px;
        height: 50px;
    }
    .modal-close li{
        font-size: 16px;
    }
    /* footer */
    footer{
      width: 100%;
    }
    .ft_info{
        display: none;
    }
    .ft_info_430 {
    display: block;
  }
}

