@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.8rem;
  color: #333;
  word-break: break-all;
  white-space: nowrap;
}
/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: bisque; */
}
/* min */
/* qna area*/
.sub-qna-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 30px;
}
.sub-qna-wrapper .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1760px;
  background-color: #a3c100;
  border-radius: 15px;
  padding: 20px;
}
.qna-message-b {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 45px;
  width: 40%;
  height: 100%;
  margin-left: 3%;
}
.qna-title {
  position: relative;
  display: block;
  height: 30%;
  color: #fff;
  z-index: 9;
}
.lined {
  position: relative;
  display: inline-block;
}
.lined::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
  opacity: 0.5;
  z-index: -1;
  border-radius: 15px;
}
.qna-title-wrap {
  display: flex;
  align-items: center;
  gap: 10%;
}
.qna-title-h2 {
  font-size: 7.2rem;
  line-height: 1.26;
  font-family: "VitroCore";
  text-transform: capitalize;
}
.xi-long-arrow-right {
  font-size: 6rem;
}
.qna-menu {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qna-menu-list {
  position: relative;
}
.qna-menu-list li {
  font-size: 1.5rem;
  font-weight: 700;
  color: #d8d8d8;
  padding-bottom: 10px;
}
.qna-menu-list-focus {
  color: #ffffff !important;
}
.qna-click-list {
  position: relative;
  width: 100%;
  height: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.qna-click-list-li {
  position: relative;
  width: 100%;
  height: 100%;
}
.fn-qcl:hover {
  transform: translateY(-5%);
}
.qna-li-img-b {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(995 / 1030 * 100%);
}
.qna-li-img-b img {
  border-radius: 10px;
}
.qna-click-list-li .qna-li-img-b img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.qna-content {
  width: 46%;
  height: 100%;
  overflow: hidden;
  border-radius: 35px;
  box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.15);
}
.sw-qna {
  width: 100%;
  height: 100%;
}
.sw-qna .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.sw-qna .swiper-slide {
  width: 100%;
  height: 100%;
}
.sw-qna .swiper-slide img {
  width: 100%;
  height: 100%;
}
.fsc-none {
  display: none;
}
/* 반응형 */
@media screen and (max-width: 1240px) {
  .qna-title-h2 {
    font-size: 6.8rem;
  }
}
@media screen and (max-width: 1150px) {
  .qna-title-h2 {
    font-size: 5.8rem;
  }
  .qna-message-b {
    width: 35%;
    gap: 45px;
  }
  .qna-content {
    width: 48%;
  }
}
@media screen and (max-width: 1020px) {
  .qna-title-h2 {
    font-size: 5.8rem;
  }
  .qna-click-list {
    gap: 15px;
  }
}
@media screen and (max-width: 780px) {
  .fsc-none {
    display: block;
  }
  .sub-qna-wrapper {
    padding: 100px 0;
  }
  .sub-qna-wrapper .inner {
    max-width: 750px;
    justify-content: center;
    padding: 0 0 120px;
    background: #a3c100; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a3c100, #dce35b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a3c100, #dce35b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .qna-message-b {
    justify-content: flex-start;
    position: absolute;
    top: 35px;
    left: 0;
  }
  .lined::after {
    background-color: #e9e9e9;
  }
  .qna-menu-list,
  .qna-click-list {
    display: none;
  }
  .qna-content {
    width: 85%;
    margin-top: 30%;
    /* padding-bottom: 50px; */
    border-radius: 25px;
  }
  .qna-content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4.5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.45);
  }
  .sw-img-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(995 / 1030 * 100%);
  }
  .sw-img-wrap img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 0 0 25px 25px;
  }
  .sw-qna-bg-mb {
    padding: 20px 10px;
    color: #fff;
    text-align: left;
  }
  .sw-qna-text {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 2;
  }
  .sw-qna-text-sub {
    font-size: 2.4rem;
    color: #ffffff;
  }
}
@media screen and (max-width: 750px) {
  .sub-qna-wrapper .inner {
    max-width: 720px;
  }
}
@media screen and (max-width: 480px) {
  .sub-qna-wrapper .inner {
    max-width: 460px;
  }
  .qna-title-h2 {
    font-size: 4.6rem;
  }
  .qna-content {
    margin-top: 38%;
  }
  .sw-qna-text {
    font-size: 5.6vw;
  }
  .sw-qna-text-sub {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 460px) {
  .sub-qna-wrapper .inner {
    max-width: 430px;
  }
}
@media screen and (max-width: 430px) {
  .sub-qna-wrapper .inner {
    max-width: 400px;
    padding: 0 0 80px;
  }
  .qna-title-h2 {
    font-size: 4rem;
  }
  .qna-content {
    margin-top: 40%;
  }
}
@media screen and (max-width: 400px) {
  .sub-qna-wrapper .inner {
    max-width: 370px;
    padding: 0 0 80px;
  }
  .qna-title-h2 {
    font-size: 4rem;
  }
  .qna-content {
    margin-top: 44%;
  }
}
@media screen and (max-width: 380px) {
  .sub-qna-wrapper .inner {
    max-width: 350px;
    padding: 0 0 80px;
  }
  .qna-title-h2 {
    font-size: 3.7rem;
  }
  .qna-content {
    margin-top: 46%;
  }
}
@media screen and (max-width: 320px) {
  .sub-qna-wrapper .inner {
    max-width: 295px;
    padding: 0 0 50px;
  }
  .qna-title-h2 {
    font-size: 3rem;
  }
  .qna-content {
    margin-top: 50%;
  }
}
/* ran */
/* hun */

/* 제품 상세 정보 */
.detaild-info {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: #ecf4be;
  padding: 60px;
}
.info-p {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
}
.info-p img {
  margin-bottom: 5px;
}
.detaild-info h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}
.detaild-info h2 {
  font-size: 1.7rem;
  color: #858585;
  line-height: 20px;
  /* margin-top: 20px;
   margin-bottom: 20px; */
}
.h2-left,
.h2-right {
  font-size: 1.5rem;
  color: #858585;
  line-height: 20px;
}
.info-wrap {
  width: 90vw;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  /* padding: 100px; */
}
.info-info {
  max-width: 600px;
  min-width: 230px;
  background-color: #f3f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.info-inner {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}
.info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  gap: 20px;
}
.info-icon {
  width: 120px;
  min-width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ababab;
  padding: 20px;
}
.info-li:last-child {
  border-bottom: none;
}
.info-right {
  width: 600px;
  /* background-color: aqua; */
}
.info-bottom {
  width: 100%;
  height: 160px;
  background-color: #a3c100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info-bottom h3 {
  color: #fff;
  font-weight: 500;
}
.info-bottom button {
  width: 220px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.info-bottom button a {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.info-bottom button img {
  width: 20px;
  height: 18px;
  margin-bottom: 5px;
}
/* 관련 제품 */
.related-pt {
  width: 100%;
  min-width: 320px;
  height: 500px;
  background-color: #bababa;
}
.re-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}
.re-h1 {
  font-size: 36px;
  font-weight: 600;
  color: #333333;
}
.img-btgel img {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 50%;
  margin: 40px auto;
  cursor: pointer;
}
.re-h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333333;
}
.re-p {
  font-size: 20px;
  margin-top: 20px;
  color: red;
  font-weight: 600;
}
